body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    width: 22.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 50%) 0px 5px 23px -18px;
    transition: all 0.2s ease 0s;
    display: block;
}

.card-header {
    background-color: #ffff;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 28px;
}

.card-body {
    position: relative;
    border-top: 1px solid rgb(229, 229, 229);
    height: 25rem;
    overflow: auto;
}


