body {
    height: 100vh;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.footer-manage {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 56px;
    padding: 0px 1rem;
    font-size: 12px;
}

.card-manage {
    width: 22.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 50%) 0px 5px 23px -18px;
    transition: all 0.2s ease 0s;
    display: block;
}

.button-manage {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0.5rem 1rem;
    font: inherit;
    color: inherit;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 13%) 0px 0px 13px 0px;
    cursor: pointer;
    z-index: 0;

}

.logout-button {
    position: fixed;
    top: 1rem;
    right: 2.1rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0.5rem 1rem;
    font: inherit;
    color: inherit;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 13%) 0px 0px 13px 0px;
    cursor: pointer;
    z-index: 0;
}
.logout-button:hover {

    color: white;
    text-decoration: none;
    background-color: red;
    z-index: 0;
}

.email-user {
    position: fixed;
    font-style: italic;
    font-size: smaller;
    font-weight: 100;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    z-index: 0;
}

.name-user {
    display: flex;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    margin-bottom: 1rem;
    opacity: 0.6;

}

.button-modal-close {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0.5rem 1rem;
    font: inherit;
    color: inherit;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 13%) 0px 0px 13px 0px;
    cursor: pointer;
}

.button-modal-close:hover {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
    box-shadow: rgb(0 0 0 / 13%) 0px 0px 13px 0px;
}


.button-modal-change {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0.5rem 1rem;
    font: inherit;
    color: inherit;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 13%) 0px 0px 13px 0px;
    cursor: pointer;
}

.button-modal-change:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}



.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.text-task-manage {
    display: inline-block;
    margin-right: 5em !important;
    margin-left: 2em !important;
}